# Dependencies
node_modules

# Dev files
.git
.gitignore
.vscode
README.md

# Python cache
__pycache__
*.py[cod]
*.egg-info
venv/
.venv/

# ML scratch
ml-service/scratch/
outputs/

# Misc
.DS_Store
*.log
.env*
